NODE_ENV=development
PORT=3000
CHOKIDAR_USEPOLLING=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shop_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:postgres@postgres:5432/shop_db

REDIS_HOST=redis
REDIS_PORT=6378
REDIS_URL=redis://redis:6378

CORS_ORIGIN=http://localhost:5173

PAYMENT_PUBLIC_KEY=
PAYMENT_PRIVATE_KEY=
PAYMENT_INTEGRITY_KEY=
PAYMENT_EVENTS_KEY=
PAYMENT_API_URL=https://api-sandbox.co.uat.wompi.dev/v1

BASE_FEE_CENTS=500000
SHIPPING_FEE_CENTS=800000
CURRENCY=COP
